@font-face {
    font-family: VanadineRegular;
    src: url('VanadineRegular.ttf');
}

.VanadineRegular {
    font-family: VanadineRegular;
    letter-spacing: 2px;
}

@font-face {
    font-family: Znikomit;
    src: url('Znikomit.otf');
}

.Znikomit {
    font-family: Znikomit;
    letter-spacing: 2px;
}

html {
    height: 100%;
    max-width: 100%;
}

a:link {
    text-decoration: none;
}

a:link:hover {
    text-decoration: none;
}

.BackGroundGris {
    background-color: #cecece;
}

.h100 {
    height: 100%;
}

.DBlock {
    display: block;
}

.w100 {
    width: 100%;
}

.TCenter {
    text-align: center;
}

.NoMargin {
    margin: 0;
}

#pageheader {
    height: 20%;
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid #cecece;
}

#logo {
    width: 15%;
    height: 100%;
    float: left;
}

#logo img {
    max-height: 70%;
    max-width: 70%;
    padding-left: 20%;
    padding-top: 10%;
}

.divTitle {
    width: 85%;
    height: 100%;
    float: right;
}

.headerTitle {
    display: block;
    width: 85%;
    color: #007cc3;
    text-align: center;
    font-size: 40px;
}

#menu {
    float: left;
    width: 15%;
    height: 70%;
    background-color: #cecece;
    border-right: 1px solid #ffffff;
}

.ulmenu {
    padding: 0;
    margin: 0;
    height: 100%;
    list-style-type: none;
}

.ulmenu li {
    display: block;
    padding: 0;
    list-style-type:none;
    height: 10%;
    min-height: 2em;
}

.ulmenu li:hover {
    background-color: #007cc3;
    transition-property: background-color;
    transition-duration: 1s;
}

.ulmenu p:hover {
    color: #ffffff;
    transition-property: color;
    transition-duration: 0.3s;
    text-decoration: none;
}

.ulmenu p {
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 5%;
    margin: 0;
    color: #000000;
    font-family: Znikomit;
    font-size: 20px;
}

#body {
    height: 70%;
    width: calc(85% - 1px);
    float: right;
}

#pagefooter {
    height: 10%;
    width: 100%;
    bottom: 0;
}

@media screen and (max-width: 800px) {
    .headerTitle {
        font-size:20px;
    }

    .ulmenu li {
        height: 7%;
    }

    .ulmenu p {
        font-size: 12px;
    }
}
